{% include '/common/header.twig' %}
    <main class='home'>
        
        <section class='text'>
            <p>Runelogs is a basic archive site where Runescape players can keep a permanent history of their account activity.</p>
            <p>We save all of your Adventure Log events and make it simple to search them by date or keyword.</p>
            <p>Get started by visiting your personal page. Enter your player name in the URL after a forward slash, like so:</p>
            <a class="profile-link" href="https://runelo.gs/{{ player }}"><code>https://runelo.gs/{{ player }}</code></a>
            <p>If your name contains spaces, use a + sign to replace them.</p>
            <p>More information can be found on our <a href="/about">about</a> page.</p>
        </section>

        {% if latest is defined and latest is not empty %}

        <aside class='demo'>
            <ul class="logs">
                {% for log in latest %}
                    <li class="log-item">
                        <div class="log-header">
                            <h2 class="log-title">{{ log.lg_title }}</h2>
                            <span class="log-timestamp">{{ log.us_name|capitalize|replace({'+': ' '}) }} | {{ log.lg_ts|date }}</span>
                        </div>
                        <p class="log-details">{{ log.lg_details }}</p>
                    </li>
                {% endfor %}
            </ul>
        </aside>
        {% endif %}

    </main>
{% include '/common/footer.twig' %}