{% include '/common/header.twig' %}
    <main class='home'>
        
        <section class='text'>
            <h1>Never miss a {{ headliners[random(headliners | keys)] }}.</h1>
            <p>Runelogs is a free, easy-to-use archive site where Runescape players can keep a permanent history of their account activity.</p>
            <p>We save all of your events and make it simple to search them by date or keyword.</p>
            <p>To get started, enter a player name:</p>
            <form action="/" method="post" class='home-form'><code class="prefix">https://runelo.gs/</code><input type="text" class="home-input" name="player" aria-label="player-name" value="{{ (player is defined ) ? player : '' }}" /><input type="submit" class="home-input-submit" value="»"/></form>
            <p>More information can be found on our <a href="/about">about</a> page.</p>
        </section>

        {% if latest is defined and latest is not empty %}

        <section class='text'>

        </section>
        <aside class='demo'>
            <ul class="logs">
                {% for log in latest %}
                    <li class="log-item">
                        <a href="/{{ log.us_name }}">
                            <div class="log-header">
                                <h2 class="log-title">{{ log.lg_title }}</h2>
                                <span class="log-timestamp">{{ log.us_name|capitalize|replace({'+': ' '}) }} | {{ log.lg_ts|date }}</span>
                            </div>
                            <p class="log-details">{{ log.lg_details }}</p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </aside>
        {% endif %}

    </main>
{% include '/common/footer.twig' %}