{% include '/common/header.twig' %}
    <main>
        
        {% if search is defined %}

            <header class='search'>
                <form action="/{{ player }}" method="post">
                    <input type="text" name="search" aria-label="search" value="{{ search }}" />
                    <input type="submit" aria-label="search-submit" value="" />
                </form>
            </header>
                
            {% if results is not empty %}

                <ul class="results">
                    {% for result in results %}
                        <li class="log-item">
                            <div class="log-header">
                                <h2 class="log-title">{{ result.lg_title }}</h2>
                                <span class="log-timestamp">{{ result.lg_ts|date }}</span>
                            </div>
                            <p class="log-details">{{ result.lg_details }}</p>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <section class='text'>
                    <p>No results</p>
                </section>
            {% endif %}

        {% else %}

            {% if logs is defined and logs is not empty %}

                <header class='search'>
                    <form action="/{{ player }}" method="post">
                        <input type="text" name="search" aria-label="search" placeholder="Filter on.." />
                        <input type="submit" aria-label="search-submit" value="" />
                    </form>
                </header>

                <ul class="logs">
                    {% for log in logs %}
                        <li class="log-item">
                            <div class="log-header">
                                <h2 class="log-title">{{ log.lg_title }}</h2>
                                <span class="log-timestamp">{{ log.lg_ts|date }}</span>
                            </div>
                            <p class="log-details">{{ log.lg_details }}</p>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <section class='text'>
                    <p>{{ message }}</p>
                </section>
            {% endif %}

        {% endif %}

    </main>

    {% if logs is defined and logs is not empty %}

        <div class="grid-container">
            <div class="top-legend">
                <label>Mon</label>
                <label>Wed</label>
                <label>Fri</label>
            </div>
            <div class="grid-body">
                
                <div class="grid">
                    {{ grid|raw }}
                </div>
                <div class="right-legend">
                    <label>Jan</label>
                    <label>Feb</label>
                    <label>Mar</label>
                    <label>Apr</label>
                    <label>May</label>
                    <label>Jun</label>
                    <label>Jul</label>
                    <label>Aug</label>
                    <label>Sep</label>
                    <label>Oct</label>
                    <label>Nov</label>
                    <label>Dec</label>
                </div>
            </div>     
        </div>

    {% endif %}
    
{% include '/common/footer.twig' %}
