{% include '/common/header.twig' %}
    <main>
        
        {% if search is defined %}
                
            {% if results is not empty %}

                <ul class="results">
                    {% for result in results %}
                        <li class="log-item">
                            <div class="log-header">
                                <h2 class="log-title">{{ result.lg_title }}</h2>
                                <span class="log-timestamp">{{ result.lg_ts|date }}</span>
                            </div>
                            <p class="log-details">{{ result.lg_details }}</p>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <section class='text notification inf'>
                    <h2>Nothing interesting found.</h2>
                    <p>We couldn't find any results for that keyword.</p>
                </section>
            {% endif %}

        {% else %}

            {% if grid is not empty %}

                <aside class="grid-container">

                    <div class="regular">

                        <div class="top-legend">
                            <label>Mon</label>
                            <label>Wed</label>
                            <label>Fri</label>
                        </div>

                        <div class="grid-body">
                            
                            <div class="left-legend">
                                <label>Jan</label>
                                <label>Feb</label>
                                <label>Mar</label>
                                <label>Apr</label>
                                <label>May</label>
                                <label>Jun</label>
                                <label>Jul</label>
                                <label>Aug</label>
                                <label>Sep</label>
                                <label>Oct</label>
                                <label>Nov</label>
                                <label>Dec</label>
                            </div>

                            <div class="grid">
                                {{ grid|raw }}
                            </div>

                        </div>

                    </div>

                    <div class="mobile">

                        <div class="top-legend">
                            <label>Jan</label>
                            <label>Feb</label>
                            <label>Mar</label>
                            <label>Apr</label>
                            <label>May</label>
                            <label>Jun</label>
                            <label>Jul</label>
                            <label>Aug</label>
                            <label>Sep</label>
                            <label>Oct</label>
                            <label>Nov</label>
                            <label>Dec</label>

                        </div>
                        <div class="grid-body">

                            <div class="grid">
                                {{ grid|raw }}
                            </div>

                        </div>

                    </div>

                </aside>

            {% endif %}

            <section class="content">

                {% if message is defined %}

                    <div class='text notification {{ type }}'>
                        <p>{{ message }}</p>
                    </div>

                {% endif %}

                <ul class="logs">
                    {% for log in logs %}
                        <li class="log-item">
                            <div class="log-header">
                                <h2 class="log-title">{{ log.lg_title }}</h2>
                                <span class="log-timestamp">{{ log.lg_ts|date }}</span>
                            </div>
                            <p class="log-details">{{ log.lg_details }}</p>
                        </li>
                    {% endfor %}
                </ul>

            </section>

        {% endif %}

    </main>
    
{% include '/common/footer.twig' %}
